name: Publish

on:
  push:
    branches:
      - master
    paths:
      - '**.js'

jobs:
  eslint:
    name: Publish
    environment: npm
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install NodeJS
        uses: actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'

      - name: Install dependencies
        run: npm ci

      - name: Set credentials
        run: git config user.email "auto@action.autoaction_1" && git config user.name "Action"

      - name: Update version
        run: npm version patch

      - name: Publish version
        uses: JS-DevTools/npm-publish@v2
        with:
          token: ${{ secrets.NPM_TOKEN }}

      - name: Create PR
        uses: peter-evans/create-pull-request@v5
        with:
          title: Patch package version
